asgiref==3.8.1 ; python_version >= '3.8'
django==5.1.5
pillow==11.1.0
sqlparse==0.5.3 ; python_version >= '3.8'
typing-extensions==4.12.2 ; python_version < '3.11'
-i https://pypi.org/simple
asgiref==3.8.1 ; python_version >= '3.8'
django==5.1.5
gunicorn==23.0.0
packaging==24.2 ; python_version >= '3.8'
pillow==11.1.0
sqlparse==0.5.3 ; python_version >= '3.8'
typing-extensions==4.12.2 ; python_version < '3.11'
